Source/Neuroptikon_v1.0.xsd

<!--
Copyright (c) 2010 Howard Hughes Medical Institute.
All rights reserved.
Use is subject to Janelia Farm Research Campus Software Copyright 1.1 license terms.
http://license.janelia.org/license/jfrc_copyright_1_1.html
-->

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<xs:element name="Neuroptikon" type="Neuroptikon"/>
	
	<xs:complexType name="Neuroptikon">
		<xs:sequence>
			<xs:element name="Network" type="Network"/>
			<xs:element name="DisplayWindow" type="DisplayWindow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Network">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:choice>
				<xs:element name="Region" type="Region" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Pathway" type="Pathway" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Neuron" type="Neuron" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Muscle" type="Muscle" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Arborization" type="Arborization" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Innervation" type="Innervation" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="GapJunction" type="GapJunction" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Synapse" type="Synapse" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Stimulus" type="Stimulus" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Attribute" type="Attribute" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="AttributeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="string"/>
			<xs:enumeration value="integer"/>
			<xs:enumeration value="double"/>
			<xs:enumeration value="boolean"/>
			<xs:enumeration value="dateTime"/>
			<xs:enumeration value="date"/>
			<xs:enumeration value="time"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="AttributeValue">
		<xs:union memberTypes="xs:string xs:integer xs:double xs:boolean xs:dateTime xs:date xs:time"/>
	</xs:simpleType>
	
	<xs:complexType name="Attribute">
		<xs:sequence>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="Value" type="AttributeValue"/>
		</xs:sequence>
		<xs:attribute name="type" type="AttributeType" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="Link">
		<xs:sequence>
			<xs:element name="URI" type="xs:anyURI"/>
			<xs:element name="Text" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Note">
		<xs:sequence>
			<xs:element name="Title" type="xs:string"/>
			<xs:element name="Text" type="xs:string" minOccurs="0"/>
			<xs:element name="Created" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Object" abstract="true">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" minOccurs="0"/>
			<xs:element name="Abbreviation" type="xs:string" minOccurs="0"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="Attribute" type="Attribute" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Link" type="Link" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Note" type="Note" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="OntologyTerm">
		<xs:attribute name="ontologyId" type="xs:string" use="required"/>
		<xs:attribute name="ontologyTermId" type="xs:string" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="Region">
		<xs:complexContent>
			<xs:extension base="Object">
				<xs:sequence>
					<xs:element name="OntologyTerm" type="OntologyTerm" minOccurs="0"/>
					<xs:element name="Region" type="Region" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Pathway">
		<xs:complexContent>
			<xs:extension base="Object">
				<xs:attribute name="region1Id" type="xs:integer" use="required"/>
				<xs:attribute name="region1Projects" type="xs:boolean"/>
				<xs:attribute name="region1Activation" type="xs:string" minOccurs="0"/>
				<xs:attribute name="region2Id" type="xs:integer" use="required"/>
				<xs:attribute name="region2Projects" type="xs:boolean"/>
				<xs:attribute name="region2Activation" type="xs:string" minOccurs="0"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Neuron">
		<xs:complexContent>
			<xs:extension base="Object">
				<xs:sequence>
					<xs:element name="Class" type="xs:string" minOccurs="0"/>
					<xs:element name="Neurotransmitter" type="xs:string" minOccurs="0"/>
					<xs:element name="Activation" type="xs:string" minOccurs="0"/>
					<xs:element name="Function" type="xs:string" minOccurs="0"/>
					<xs:element name="Polarity" type="xs:string" minOccurs="0"/>
					<xs:element name="SomaRegionId" type="xs:integer" minOccurs="0"/>
					<xs:element name="Neurite" type="Neurite" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Neurite">
		<xs:complexContent>
			<xs:extension base="Object">
				<xs:sequence>
					<xs:element name="PathwayId" type="xs:integer" minOccurs="0"/>
					<xs:element name="Neurite" type="Neurite" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Muscle">
		<xs:complexContent>
			<xs:extension base="Object"/>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Arborization">
		<xs:complexContent>
			<xs:extension base="Object">
				<xs:attribute name="neuriteId" type="xs:integer" use="required"/>
				<xs:attribute name="regionId" type="xs:integer" use="required"/>
				<xs:attribute name="sends" type="xs:boolean"/>
				<xs:attribute name="receives" type="xs:boolean"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Innervation">
		<xs:complexContent>
			<xs:extension base="Object">
				<xs:attribute name="neuriteId" type="xs:integer" use="required"/>
				<xs:attribute name="muscleId" type="xs:integer" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="GapJunction">
		<xs:complexContent>
			<xs:extension base="Object">
				<xs:attribute name="neurite1Id" type="xs:integer" use="required"/>
				<xs:attribute name="neurite2Id" type="xs:integer" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Synapse">
		<xs:complexContent>
			<xs:extension base="Object">
				<xs:sequence>
					<xs:element name="PreSynapticNeuriteId" type="xs:integer"/>
					<xs:element name="PostSynapticNeuriteId" type="xs:integer" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="Activation" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Stimulus">
		<xs:complexContent>
			<xs:extension base="Object">
				<xs:attribute name="targetId" type="xs:integer" use="required"/>
				<xs:attribute name="modality" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="CommandHistory">
		<xs:sequence>
			<xs:element name="Command" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="DisplayWindow">
		<xs:sequence>
			<xs:element name="Display" type="Display"/>
			<xs:element name="CommandHistory" type="CommandHistory" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="x" type="xs:nonNegativeInteger"/>
		<xs:attribute name="y" type="xs:nonNegativeInteger"/>
		<xs:attribute name="width" type="xs:nonNegativeInteger"/>
		<xs:attribute name="height" type="xs:nonNegativeInteger"/>
	</xs:complexType>
	
	<xs:complexType name="Display">
		<xs:sequence>
			<xs:element name="BackgroundColor" type="Color" minOccurs="0"/>
			<xs:element name="DefaultFlowAppearance" type="FlowAppearance" minOccurs="0"/>
			<xs:element name="DisplayRule" type="DisplayRule" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Visible" type="Visible" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="dimensions" type="xs:nonNegativeInteger"/>
		<xs:attribute name="showRegionNames" type="xs:boolean"/>
		<xs:attribute name="showNeuronNames" type="xs:boolean"/>
		<xs:attribute name="showFlow" type="xs:boolean"/>
		<xs:attribute name="useGhosting" type="xs:boolean"/>
		<xs:attribute name="useMouseOverSelecting" type="xs:boolean"/>
		<xs:attribute name="autoVisualize" type="xs:boolean"/>
		<xs:attribute name="selectedVisibleIds" type="xs:string"/>
	</xs:complexType>
	
	<xs:complexType name="DisplayRule">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Visible">
		<xs:sequence>
			<xs:element name="Geometry" type="VisibleGeometry" minOccurs="0"/>
			<xs:element name="Appearance" type="VisibleAppearance" minOccurs="0"/>
			<xs:element name="Arrangement" type="VisibleArrangement" minOccurs="0"/>
			<xs:element name="Path" type="VisiblePath" minOccurs="0"/>
			<xs:element name="Visible" type="Visible" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="objectId" type="xs:nonNegativeInteger"/>
		<xs:attribute name="orphanClass" type="xs:string"/>
	</xs:complexType>
	
	<xs:complexType name="Vector3f">
		<xs:attribute name="x" type="xs:float" use="required"/>
		<xs:attribute name="y" type="xs:float" use="required"/>
		<xs:attribute name="z" type="xs:float" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="VisiblePosition">
		<xs:complexContent>
			<xs:extension base="Vector3f">
				<xs:attribute name="fixed" type="xs:boolean"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="VisibleSize">
		<xs:complexContent>
			<xs:extension base="Vector3f">
				<xs:attribute name="fixed" type="xs:boolean"/>
				<xs:attribute name="absolute" type="xs:boolean"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="VisibleRotation">
		<xs:complexContent>
			<xs:extension base="Vector3f">
				<xs:attribute name="angle" type="xs:float" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="VisibleGeometry">
		<xs:sequence>
			<xs:element name="Position" type="VisiblePosition" minOccurs="0"/>
			<xs:element name="Size" type="VisibleSize" minOccurs="0"/>
			<xs:element name="Rotation" type="VisibleRotation" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Color">
		<xs:attribute name="r" type="xs:float" use="required"/>
		<xs:attribute name="g" type="xs:float" use="required"/>
		<xs:attribute name="b" type="xs:float" use="required"/>
		<xs:attribute name="a" type="xs:float"/>
	</xs:complexType>
	
	<xs:complexType name="Texture">
		<xs:attribute name="identifier" type="xs:string" use="required"/>
		<xs:attribute name="scale" type="xs:float" default="1.0"/>
	</xs:complexType>
	
	<xs:complexType name="VisibleAppearance">
		<xs:sequence>
			<xs:element name="Label" type="Label" minOccurs="0"/>
			<xs:element name="Shape" type="VisibleShape" minOccurs="0"/>
			<xs:element name="Color" type="Color" minOccurs="0"/>
			<xs:element name="Opacity" type="xs:float" minOccurs="0"/>
			<xs:element name="Weight" type="xs:float" minOccurs="0"/>
			<xs:element name="Texture" type="Texture" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Label">
		<xs:sequence>
			<xs:element name="Text" type="xs:string"/>
			<xs:element name="Color" type="Color" minOccurs="0"/>
			<xs:element name="Position" type="VisiblePosition" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="VisibleShape">
		<xs:sequence>
			<xs:element name="Attribute" type="Attribute" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="class" type="xs:string"/>
	</xs:complexType>
	
	<xs:complexType name="VisibleArrangement">
		<xs:attribute name="axis" type="xs:string"/>
		<xs:attribute name="spacing" type="xs:float"/>
		<xs:attribute name="weight" type="xs:float"/>
	</xs:complexType>
	
	<xs:complexType name="FlowAppearance">
		<xs:sequence>
			<xs:element name="Color" type="Color"/>
		</xs:sequence>
		<xs:attribute name="spacing" type="xs:float"/>
		<xs:attribute name="speed" type="xs:float"/>
		<xs:attribute name="spread" type="xs:float"/>
	</xs:complexType>
	
	<xs:complexType name="VisiblePath">
		<xs:sequence>
			<xs:element name="FlowToAppearance" type="FlowAppearance" minOccurs="0"/>
			<xs:element name="FlowFromAppearance" type="FlowAppearance" minOccurs="0"/>
			<xs:element name="MidPoint" type="VisiblePosition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="startVisibleId" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="endVisibleId" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="flowTo" type="xs:boolean"/>
		<xs:attribute name="flowFrom" type="xs:boolean"/>
	</xs:complexType>
	
</xs:schema>
