Source/Neuroptikon_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<xs:element name="Neuroptikon" type="Neuroptikon"/>
	
	<xs:complexType name="Neuroptikon">
		<xs:sequence>
			<xs:element name="Network" type="Network"/>
			<xs:element name="DisplayWindow" type="DisplayWindow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Network">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:choice>
				<xs:element name="Region" type="Region" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Pathway" type="Pathway" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Neuron" type="Neuron" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Muscle" type="Muscle" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Arborization" type="Arborization" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Innervation" type="Innervation" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="GapJunction" type="GapJunction" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Synapse" type="Synapse" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Stimulus" type="Stimulus" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="AttributeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="string"/>
			<xs:enumeration value="integer"/>
			<xs:enumeration value="double"/>
			<xs:enumeration value="boolean"/>
			<xs:enumeration value="duration"/>
			<xs:enumeration value="dateTime"/>
			<xs:enumeration value="date"/>
			<xs:enumeration value="time"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="AttributeValue">
		<xs:union memberTypes="xs:string xs:integer xs:double xs:boolean xs:duration xs:dateTime xs:date xs:time"/>
	</xs:simpleType>
	
	<xs:complexType name="Attribute">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="value" type="AttributeValue"/>
		</xs:sequence>
		<xs:attribute name="type" type="AttributeType" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="Link">
		<xs:sequence>
			<xs:element name="URI" type="xs:anyURI"/>
			<xs:element name="text" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Note">
		<xs:sequence>
			<xs:element name="title" type="xs:string"/>
			<xs:element name="text" type="xs:string" minOccurs="0"/>
			<xs:element name="created" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Object" abstract="true">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="abbreviation" type="xs:string" minOccurs="0"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="attribute" type="Attribute" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="link" type="Link" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="note" type="Note" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="OntologyTerm">
		<xs:attribute name="ontologyId" type="xs:string" use="required"/>
		<xs:attribute name="ontologyTermId" type="xs:string" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="Region">
		<xs:complexContent>
			<xs:extension base="Object">
				<xs:sequence>
					<xs:element name="OntologyTerm" type="OntologyTerm" minOccurs="0"/>
					<xs:element name="Region" type="Region" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="PathwayTerminus">
		<xs:attribute name="regionId" type="xs:integer" use="required"/>
		<xs:attribute name="sends" type="xs:boolean"/>
		<xs:attribute name="receives" type="xs:boolean"/>
	</xs:complexType>
	
	<xs:complexType name="Pathway">
		<xs:complexContent>
			<xs:extension base="Object">
				<xs:sequence>
					<xs:element name="PathwayTerminus" type="PathwayTerminus"/>
					<xs:element name="PathwayTerminus" type="PathwayTerminus"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Neuron">
		<xs:complexContent>
			<xs:extension base="Object">
				<xs:sequence>
					<xs:element name="class" type="xs:string" minOccurs="0"/>
					<xs:element name="neurotransmitter" type="xs:string" minOccurs="0"/>
					<xs:element name="activation" type="xs:string" minOccurs="0"/>
					<xs:element name="function" type="xs:string" minOccurs="0"/>
					<xs:element name="polarity" type="xs:string" minOccurs="0"/>
					<xs:element name="somaRegionId" type="xs:integer" minOccurs="0"/>
					<xs:element name="Neurite" type="Neurite" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Neurite">
		<xs:complexContent>
			<xs:extension base="Object">
				<xs:sequence>
					<xs:element name="pathwayId" type="xs:integer" minOccurs="0"/>
					<xs:element name="neurite" type="Neurite" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Muscle">
		<xs:complexContent>
			<xs:extension base="Object"/>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Arborization">
		<xs:complexContent>
			<xs:extension base="Object">
				<xs:attribute name="neuriteId" type="xs:integer" use="required"/>
				<xs:attribute name="regionId" type="xs:integer" use="required"/>
				<xs:attribute name="sends" type="xs:boolean"/>
				<xs:attribute name="receives" type="xs:boolean"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Innervation">
		<xs:complexContent>
			<xs:extension base="Object">
				<xs:attribute name="neuriteId" type="xs:integer" use="required"/>
				<xs:attribute name="muscleId" type="xs:integer" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="GapJunction">
		<xs:complexContent>
			<xs:extension base="Object">
				<xs:attribute name="neurite1Id" type="xs:integer" use="required"/>
				<xs:attribute name="neurite2Id" type="xs:integer" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Synapse">
		<xs:complexContent>
			<xs:extension base="Object">
				<xs:sequence>
					<xs:element name="preSynapticNeuriteId" type="xs:integer"/>
					<xs:element name="postSynapticNeuriteId" type="xs:integer" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="activation" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Stimulus">
		<xs:complexContent>
			<xs:extension base="Object">
				<xs:attribute name="targetId" type="xs:integer" use="required"/>
				<xs:attribute name="modality" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="DisplayWindow">
		<xs:sequence>
			<xs:element name="Display" type="Display"/>
		</xs:sequence>
		<xs:attribute name="x" type="xs:nonNegativeInteger"/>
		<xs:attribute name="y" type="xs:nonNegativeInteger"/>
		<xs:attribute name="width" type="xs:nonNegativeInteger"/>
		<xs:attribute name="height" type="xs:nonNegativeInteger"/>
	</xs:complexType>
	
	<xs:complexType name="Display">
		<xs:sequence>
			<xs:element name="backgroundColor" type="Color" minOccurs="0"/>
			<xs:element name="defaultFlowToAppearance" type="FlowAppearance" minOccurs="0">
			<xs:element name="defaultFlowFromAppearance" type="FlowAppearance" minOccurs="0">
			<xs:element name="DisplayRule" type="DisplayRule" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Visible" type="Visible" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="dimensions" type="xs:nonNegativeInteger"/>
		<xs:attribute name="showRegionNames" type="xs:boolean"/>
		<xs:attribute name="showNeuronNames" type="xs:boolean"/>
		<xs:attribute name="showFlow" type="xs:boolean"/>
		<xs:attribute name="useGhosting" type="xs:boolean"/>
		<xs:attribute name="useMouseOverSelecting" type="xs:boolean"/>
		<xs:attribute name="autoVisualize" type="xs:boolean"/>
		<xs:attribute name="selectedVisibleIds" type="xs:string"/>
	</xs:complexType>
	
	<xs:complexType name="DisplayRule">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Visible">
		<xs:sequence>
			<xs:element name="geometry" type="VisibleGeometry" minOccurs="0"/>
			<xs:element name="appearance" type="VisibleAppearance" minOccurs="0"/>
			<xs:element name="arrangement" type="VisibleArrangement" minOccurs="0"/>
			<xs:element name="path" type="VisiblePath" minOccurs="0"/>
			<xs:element name="Visible" type="Visible" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="objectId" type="xs:nonNegativeInteger"/>
	</xs:complexType>
	
	<xs:complexType name="Vector3f">
		<xs:attribute name="x" type="xs:float" use="required"/>
		<xs:attribute name="y" type="xs:float" use="required"/>
		<xs:attribute name="z" type="xs:float" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="VisiblePosition">
		<xs:complexContent>
			<xs:extension base="Vector3f">
				<xs:attribute name="fixed" type="xs:boolean"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="VisibleSize">
		<xs:complexContent>
			<xs:extension base="Vector3f">
				<xs:attribute name="fixed" type="xs:boolean"/>
				<xs:attribute name="absolute" type="xs:boolean"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="VisibleRotation">
		<xs:complexContent>
			<xs:extension base="Vector3f">
				<xs:attribute name="angle" type="xs:float" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="VisibleGeometry">
		<xs:sequence>
			<xs:element name="position" type="VisiblePosition" minOccurs="0"/>
			<xs:element name="size" type="VisibleSize" minOccurs="0"/>
			<xs:element name="rotation" type="VisibleRotation" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Color">
		<xs:attribute name="r" type="xs:float" use="required"/>
		<xs:attribute name="g" type="xs:float" use="required"/>
		<xs:attribute name="b" type="xs:float" use="required"/>
		<xs:attribute name="a" type="xs:float"/>
	</xs:complexType>
	
	<xs:complexType name="VisibleAppearance">
		<xs:sequence>
			<xs:element name="label" type="xs:string" minOccurs="0"/>
			<xs:element name="shape" type="xs:string" minOccurs="0"/>
			<xs:element name="color" type="Color" minOccurs="0"/>
			<xs:element name="opacity" type="xs:float" minOccurs="0"/>
			<xs:element name="weight" type="xs:float" minOccurs="0"/>
			<xs:element name="texture" type="xs:string" minOccurs="0"/>
			<!--texture transform?-->
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="VisibleArrangement">
		<xs:attribute name="axis" type="xs:string"/>
		<xs:attribute name="spacing" type="xs:float"/>
		<xs:attribute name="weight" type="xs:float"/>
	</xs:complexType>
	
	<xs:complexType name="FlowAppearance">
		<xs:sequence>
			<xs:element name="color" type="Color"/>
		</xs:sequence>
		<xs:attribute name="spread" type="xs:float"/>
	</xs:complexType>
	
	<xs:complexType name="VisiblePath">
		<xs:sequence>
			<xs:element name="flowToAppearance" type="FlowAppearance" minOccurs="0">
			<xs:element name="flowFromAppearance" type="FlowAppearance" minOccurs="0">
		</xs:sequence>
		<xs:attribute name="startVisibleId" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="endVisibleId" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="flowTo" type="xs:boolean"/>
		<xs:attribute name="flowFrom" type="xs:boolean"/>
	</xs:complexType>
	
</xs:schema>
